.cover {
    margin: 0 auto;
    padding-top: 17px;
    width: calc(100% - 2*48px);
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 1024px) {
    .cover {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover {
      margin-top: 66px;
      width: 320px;
      height: 200px;
    }
  }